# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
.history/

# Build Tools & Languages
build/
dist/
out/
bin/
node_modules/
.kotlin/
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.tsbuildinfo
compose-compiler-cache/
*.xcframework/

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Android
**/android/app/build/
**/android/build/
**/android/local.properties
**/android/.gradle/
*.apk
*.aar
*.jks
*.keystore
!**/android/debug.keystore

# iOS
**/ios/Pods/
**/ios/build/
**/ios/DerivedData/
**/ios/xcuserdata/
**/ios/.xcode.env.local
**/ios/*.xcworkspace
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.perspectivev3
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# React & JS
.expo/
.react-native/
*.tgz
.pnp
.pnp.js
coverage/
